body{
    background-color: rgb(9, 20, 68);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* height: 100%; */
  }
  .container-fluid {
      background-image: linear-gradient(to right, rgb(58, 149, 167), rgb(0, 0, 0));
      /* height: 100%; */
      padding: 7% 0 0 0;
  }
  .container {
      padding-bottom: 10%;
  }

  .img-a {
      background-color: aqua;
      margin: auto 0;
  }

  .img-a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
  }

  .header-rim {
    background-color: aqua;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    margin-top: 12%;
    /* height: 84%; */
}

.about-rim {
    background-color: aqua;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;

}

  .about {
    background-color: black;
    border-radius: 10px;
    padding: 1% 1% 0.1% 1%;
  }

  .header {
    background-color: black;
    border-radius: 10px;
    padding: 1% 1% 0.1% 1%;
  }